* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    position: relative;
    width: 100%;
    height: 20vh;
    background-image: url('header.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
footer {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: #011e44;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}
.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #011e44;
    padding: 30px;
}

.navegacion a {
    color: white;
    text-decoration: none;
    margin: 0 60px;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.cont_html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    background-color: #ffffff;
    color: white;
    width: 100%;
}

.codigo {
    width: 50%;
    height: 100%;
    background-color: #f1f1f1;
    padding: 30px;
    margin: 10px;
}

.resultado {
    color: black;
    width: 50%;
    height: 500px;
    background-color: #f1f1f1;
    padding: 30px;
    margin: 10px;
}

.codigo p {
    color: black;
}
.codigo pre {
    color: black;
}
.explicacion {
    margin-bottom: 40px;
}